# Chapter 11: Time Series
## Preliminaries

In [ ]:
from datetime import datetime
from datetime import timedelta
from pandas.tseries.offsets import Hour, Minute
import pandas as pd
import numpy as np

## 11.1 Date and Time Data Types and Tools

In [ ]:
now = datetime.now()
now

In [ ]:
now.year, now.month, now.day

In [ ]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

In [ ]:
delta.days

In [ ]:
delta.seconds

In [ ]:
start = datetime(2011, 1, 7)
start + timedelta(days=12)

In [ ]:
start - 2 * timedelta(days=12)

### Converting Between String and Datetime

In [ ]:
stamp = datetime(2011, 1, 3)
str(stamp)

In [ ]:
stamp.strftime('%Y-%m-%d')

In [ ]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

In [ ]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

In [ ]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

In [ ]:
idx = pd.to_datetime(datestrs + [None])
idx

In [ ]:
idx[2]

In [ ]:
pd.isna(idx)

## 11.2 Time Series Basics

In [ ]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

In [ ]:
ts.index

In [ ]:
ts + ts[::2]

In [ ]:
ts.index.dtype

In [ ]:
stamp = ts.index[0]
stamp

### Indexing, Selection, and Subsetting

In [ ]:
stamp = ts.index[3]
ts[stamp]

In [ ]:
ts['2011-01-10']

In [ ]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                     index=pd.date_range('2000-01-01', periods=1000))

longer_ts

In [ ]:
longer_ts["2001"]

In [ ]:
longer_ts['2001-05']

In [ ]:
ts[datetime(2011, 1, 7):]

In [ ]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

In [ ]:
ts

In [ ]:
ts['2011-01-06':'2011-01-11']

In [ ]:
ts.truncate(after='2011-01-09')

In [ ]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates

In [ ]:
long_df = pd.DataFrame(
    np.random.standard_normal((100, 4)),
    index=dates,
    columns=['Colorado', 'Texas',
             'New York', 'Ohio'])
long_df

In [ ]:
long_df.loc['2001-05']

### Times Series with Duplicate Indices

In [ ]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                         "2000-01-02", "2000-01-03"])

dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

In [ ]:
dup_ts.index.is_unique

In [ ]:
dup_ts['2000-01-02']

In [ ]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

In [ ]:
grouped.count()

## 11.3 Date Ranges, Frequencies, and Shifting

In [ ]:
ts

In [ ]:
resampler = ts.resample('D')
resampler

### Generating Date Ranges

In [ ]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

In [ ]:
pd.date_range(start='2012-04-01', periods=20)

In [ ]:
pd.date_range(end='2012-06-01', periods=20)

In [ ]:
pd.date_range('2000-01-01', '2000-12-01', freq='ME')

In [ ]:
pd.date_range('2012-05-02 12:56:31', periods=5)

In [ ]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

### Frequencies and Date Offsets

In [ ]:
hour = Hour()
hour

In [ ]:
four_hours = Hour(4)
four_hours

In [ ]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

In [ ]:
Hour(2) + Minute(30)

In [ ]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

#### Week of month dates

In [ ]:
monthly_dates = pd.date_range("2012-01-01", "2012-09-01", freq="WOM-3FRI")
list(monthly_dates)

### Shifting and Lagging Data

In [ ]:
ts = pd.Series(np.random.standard_normal(4),
                index=pd.date_range('2012-01-01', periods=4, freq='ME'))
ts

In [ ]:
ts.shift(-2)

In [ ]:
ts.shift(1)

In [ ]:
ts.shift(2, freq='ME')

In [ ]:
ts.shift(3, freq='D')

In [ ]:
ts.shift(1, freq='90min')

#### Shift dates with offsets

In [ ]:
from pandas.tseries.offsets import Day, MonthEnd

In [ ]:
now = datetime(2011, 11, 17)
now + 3 * Day()

In [ ]:
now + MonthEnd()

In [ ]:
now + MonthEnd(2)

In [ ]:
ts = pd.Series(np.random.standard_normal(20),
                index=pd.date_range('2000-01-15', periods=20, freq='4D'))
ts

In [ ]:
ts.groupby(MonthEnd().rollforward).mean()

In [ ]:
ts.resample('ME').mean()

## 11.4 Time Zone Handling

In [ ]:
import pytz

In [ ]:
pytz.common_timezones[-5:]

In [ ]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [ ]:
dates = pd.date_range("2012-03-09", periods=6, freq="D")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

In [ ]:
pd.date_range("2012-03-09 09:30", periods=10, freq="D", tz='UTC')

In [ ]:
ts.index

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc.index

In [ ]:
ts_utc.tz_convert('America/New_York').index

In [ ]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.index

In [ ]:
ts_eastern.tz_convert('UTC').index

In [ ]:
ts_eastern.tz_convert('Europe/Berlin').index

In [ ]:
ts.index.tz_localize('Asia/Shanghai')

### Operations with Time Zone-Aware Timestamp Objects

In [ ]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp

In [ ]:
stamp_utc = stamp.tz_localize('UTC')
stamp_utc

In [ ]:
stamp_utc.tz_convert('America/New_York')

In [ ]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

In [ ]:
stamp_utc.value

In [ ]:
stamp_utc.tz_convert('America/New_York').value

In [ ]:
stamp = pd.Timestamp('2012-03-11 01:30', tz='America/New_York')
stamp

In [ ]:
stamp + Hour()

In [ ]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='America/New_York')
stamp

In [ ]:
stamp + 2 * Hour()

### Operations Between Different Time Zones

In [ ]:
dates = pd.date_range("2012-03-07 09:30", periods=10, freq="B")
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts.index

In [ ]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_localize('Europe/Moscow')
result = ts1 + ts2
result.index

## 11.5 Periods and Period Arithmetic

In [ ]:
p = pd.Period(2011, freq='Y-DEC')
p

In [ ]:
p + 5

In [ ]:
p - 2

In [ ]:
pd.Period(2014, freq='Y-DEC') - p

In [ ]:
periods = pd.period_range('2000-01-01', '2000-06-30', freq='M')
periods

In [ ]:
pd.Series(np.random.standard_normal(len(periods)), index=periods)

In [ ]:
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq='Q-DEC')
index

### Period Frequency Conversion

In [ ]:
p = pd.Period(2011, freq='Y-DEC')
p

In [ ]:
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', how='end')

In [ ]:
p.asfreq('M')

In [ ]:
p = pd.Period(2011, freq='Y-JUN')
p

In [ ]:
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', 'end')

In [ ]:
p = pd.Period('Aug-2011', freq='M')
p

In [ ]:
p.asfreq('Y-JUN')

In [ ]:
periods = pd.period_range('2006', '2009', freq='Y-DEC')
ts = pd.Series(np.random.standard_normal(len(periods)), index=periods)
ts

In [ ]:
ts.asfreq('M', how='start')

In [ ]:
ts.asfreq(freq='B', how='end')

### Quarterly Period Frequencies

In [ ]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

In [ ]:
p.asfreq(freq='D', how='start')

In [ ]:
p.asfreq(freq='D', how='end')

In [ ]:
p4pm = (p.asfreq("B", how="end") - 1).asfreq("min", how="start") + 16 * 60
p4pm

In [ ]:
p4pm.to_timestamp()

In [ ]:
periods = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
periods

In [ ]:
ts = pd.Series(np.arange(len(periods)), index=periods)
print(ts)

In [ ]:
new_periods = (periods.asfreq("B", "end") - 1).asfreq("h", "start") + 16
ts.index = new_periods.to_timestamp()
print(ts)

### Converting Timestamps to Periods (and Back)

In [ ]:
dates = pd.date_range('2000-01-01', periods=3, freq='ME')
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
print(ts)

In [ ]:
pts = ts.to_period()
print(pts)

In [ ]:
dates = pd.date_range('2000-01-29', periods=6)
ts2 = pd.Series(np.random.standard_normal(len(dates)), index=dates)
print(ts2)

In [ ]:
ts2.to_period('M')

In [ ]:
pts = ts2.to_period('M')
print('This is a period series: \n')
print(pts)
print('This is a timestamp series:  \n')
print(pts.to_timestamp(how='end'))

### Creating a PeriodIndex from Arrays

In [ ]:
data = pd.read_csv(r"F:\books\pydata-book-3rd-edition\pydata-book-3rd-edition\examples\macrodata.csv")
data.head(5)

In [ ]:
data.year

In [ ]:
data.quarter

In [ ]:
index = pd.PeriodIndex.from_fields(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

In [ ]:
data.index = index
data.infl.head(5)

## 11.6 Resampling and Frequency Conversion

In [ ]:
dates = pd.date_range('2000-01-01', periods=100)
dates

In [ ]:
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
ts

In [ ]:
ts.resample('ME').mean()

In [20]:
ts.resample('ME', kind='period').mean()

C:\Users\raydn\AppData\Local\Temp\ipykernel_15280\4110933574.py:1: FutureWarning: The 'kind' keyword in Series.resample is deprecated and will be removed in a future version. Explicitly cast the index to the desired type instead
  ts.resample('ME', kind='period').mean()

2000-01   -0.310795
2000-02   -0.059159
2000-03    0.120590
2000-04   -0.005917
Freq: M, dtype: float64