# Chapter 11.5: Periods and Period Arithmetic
## Preliminaries

In [ ]:
# from datetime import datetime
# from datetime import timedelta
# from pandas.tseries.offsets import Hour, Minute
import pandas as pd
import numpy as np

In [ ]:
p = pd.Period(2011, freq='Y-DEC')
p

In [ ]:
p + 5

In [ ]:
p - 2

The difference between two periods is defined as the difference between their start times. The sum of two periods is defined as the period that starts at the earlier of the two start times and ends at the later of the two end times.

In [ ]:
pd.Period(2014, freq='Y-DEC') - p

We can generate a range of periods and then use it to create a pandas series object.

In [ ]:
periods = pd.period_range('2000-01-01', '2000-06-30', freq='M')
periods

In [ ]:
pd.Series(np.random.standard_normal(len(periods)), index=periods)

We can also define a PeriodIndex, which is a sequence of periods. This is useful for indexing and slicing operations.

In [ ]:
values = ["2001Q3", "2002Q2", "2003Q1"]
index = pd.PeriodIndex(values, freq='Q-DEC')
print(type(index))
index

### Period Frequency Conversion

In [ ]:
p = pd.Period(2011, freq='Y-DEC')
p

In [ ]:
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', how='end')

In [ ]:
p.asfreq('M')

In [ ]:
p = pd.Period(2011, freq='Y-JUN')
p

In [ ]:
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', 'end')

In [ ]:
p = pd.Period('Aug-2011', freq='M')
p

In [ ]:
p.asfreq('Y-JUN')

In [ ]:
periods = pd.period_range('2006', '2009', freq='Y-DEC')
ts = pd.Series(np.random.standard_normal(len(periods)), index=periods)
ts

In [ ]:
ts.asfreq('M', how='start')

In [ ]:
ts.asfreq(freq='B', how='end')

### Quarterly Period Frequencies

In [21]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [22]:
p.asfreq(freq='D', how='start')

Period('2011-11-01', 'D')

In [ ]:
p.asfreq(freq='D', how='end')

In [ ]:
p4pm = (p.asfreq("B", how="end") - 1).asfreq("min", how="start") + 16 * 60
p4pm

In [ ]:
p4pm.to_timestamp()

In [ ]:
periods = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
periods

In [ ]:
ts = pd.Series(np.arange(len(periods)), index=periods)
print(ts)

In [ ]:
new_periods = (periods.asfreq("B", "end") - 1).asfreq("h", "start") + 16
ts.index = new_periods.to_timestamp()
print(ts)

### Converting Timestamps to Periods (and Back)

In [ ]:
dates = pd.date_range('2000-01-01', periods=3, freq='ME')
ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)
print(ts)

In [ ]:
pts = ts.to_period()
print(pts)

In [ ]:
dates = pd.date_range('2000-01-29', periods=6)
ts2 = pd.Series(np.random.standard_normal(len(dates)), index=dates)
print(ts2)

In [ ]:
ts2.to_period('M')

In [ ]:
pts = ts2.to_period('M')
print('This is a period series: \n')
print(pts)
print('This is a timestamp series:  \n')
print(pts.to_timestamp(how='end'))

### Creating a PeriodIndex from Arrays

In [ ]:
data = pd.read_csv(r"F:\books\pydata-book-3rd-edition\pydata-book-3rd-edition\examples\macrodata.csv")
data.head(5)

In [ ]:
data.year

In [ ]:
data.quarter

In [ ]:
index = pd.PeriodIndex.from_fields(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

In [ ]:
data.index = index
data.infl.head(5)