# Chapter 8: Data Wrangling or Join, Combine, and Reshape
## Load libraries and data

In [2]:
import pandas as pd

## 8.2 Combining and Merging Datasets

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"],
                   "data1": pd.Series(range(7), dtype="Int64")})
print(df1)

df2 = pd.DataFrame({"key": ["a", "b", "d"],
                   "data2": pd.Series(range(3), dtype="Int64")})
print(df2)

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3= pd.DataFrame({'1key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1': pd.Series(range(7), dtype="Int64")})
print(df3)

df4 = pd.DataFrame({'2key': ['a', 'b', 'd'],
                   'data2': pd.Series(range(3), dtype="Int64")})
print(df4)

pd.merge(df3, df4, left_on='1key', right_on='2key')

In [ ]:
print(df1)
print(df2)
pd.merge(df1, df2, how='outer')

In [ ]:
print(df3)
print(df4)
pd.merge(df3, df4, left_on='1key', right_on='2key', how='outer')

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                    "data1": pd.Series(range(6), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"],
                    "data2": pd.Series(range(5), dtype="Int64")})

print(df1)
print(df2)

pd.merge(df1, df2, on='key', how='left')

In [ ]:
pd.merge(df1, df2, on="key", how="inner")

In [ ]:
left = pd.DataFrame({"key1": ["foo", "foo", "bar"],
                     "key2": ["one", "two", "one"],
                     "lval": pd.Series([1, 2, 3], dtype='Int64')})
print(left)

right = pd.DataFrame({"key1": ["foo", "foo", "bar", "bar"],
                      "key2": ["one", "one", "one", "two"],
                      "rval": pd.Series([4, 5, 6, 7], dtype='Int64')})
print(right)

pd.merge(left, right, on=["key1", "key2"], how="outer")

In [ ]:
print(left)
print(right)
pd.merge(left, right, on="key1")

In [ ]:
print(left)
print(right)
pd.merge(left, right, on="key1", suffixes=("_left", "_right"))

### Merging on Index

In [ ]:
left1 = pd.DataFrame({"key": ["a", "b", "a", "a", "b", "c"],
                       "value": pd.Series(range(6), dtype="Int64")})
print(left1)

right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a", "b"])
print(right1)

pd.merge(left1, right1, left_on="key", right_index=True)

In [4]:
pd.merge(left1, right1, left_on="key", right_index=True, how="outer")

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN